@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

@layer components {
  .linkButton {
    @apply min-w-full font-semibold text-3xl px-6 py-3 text-white rounded transition duration-300;
  }
}